<template>
  <div class="index">
    <div class="index__top">
      <div class="container">
        <div class="index__header">
          <h1 class="index__title">Ready to get started?</h1>

          <p class="index__text">Choose a plan tailored to your needs</p>

          <div class="index__control">
            <p class="notify">20% off</p>
            <label class="form-switch">
              <span class="index__control-time">Monthly</span>
              <input type="checkbox" />
              <i></i>
              <span class="index__control-time active">Yearly</span>
            </label>
          </div>
        </div>

        <div class="index__wrapper">
          <div class="card">
            <div class="card__inner">
              <h2 class="card__title">
                <LightningIcon />
                Lite
              </h2>
              <p class="card__subtitle">Perfect to get started</p>

              <p class="card__price">
                <span class="card__price-val">$</span>11
                <span class="card__price-info">pear seat /month</span>
              </p>

              <a class="card__link" href="#"> Try 7 days for free </a>

              <div class="card__info">
                <h3 class="card__info-title">Life includes:</h3>

                <ul class="card__info-list">
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> CMS integration </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Email & SMS reminders </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Customer support 24/7</span>
                  </li>
                </ul>
              </div>
            </div>

            <a class="card__bottom-link" href="#"> See all features </a>
          </div>

          <div class="card">
            <div class="card__inner">
              <p class="notify">Popular</p>
              <h2 class="card__title">
                <LightningIcon />
                Pro
              </h2>
              <p class="card__subtitle">Best of professionals</p>

              <p class="card__price">
                <span class="card__price-val">$</span>19
                <span class="card__price-info">pear seat /month</span>
              </p>

              <a class="card__link" href="#"> Get started </a>

              <div class="card__info">
                <h3 class="card__info-title">Life includes:</h3>

                <ul class="card__info-list">
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Advanced analytics </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> 100+ integrations </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Chat widget </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Templates libary </span>
                  </li>
                </ul>
              </div>
            </div>

            <a class="card__bottom-link" href="#"> See all features </a>
          </div>

          <div class="card unique">
            <div class="card__inner">
              <h2 class="card__title">
                <LightningIcon />
                Ultimate
              </h2>
              <p class="card__subtitle">Toolset for hard players</p>

              <p class="card__price">
                <span class="card__price-val">$</span>35
                <span class="card__price-info">pear seat /month</span>
              </p>

              <a class="card__link" href="#"> Get started </a>

              <div class="card__info">
                <h3 class="card__info-title">Life includes:</h3>

                <ul class="card__info-list">
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Daily performance reports </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Dedicated assistant </span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Artifial inelligence </span>
                    <span class="notify">beta</span>
                  </li>
                  <li class="card__info-item">
                    <CheckIcon />
                    <span> Marketing tools & automations </span>
                  </li>
                </ul>
              </div>
            </div>

            <a class="card__bottom-link" href="#"> See all features </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <table class="index__table">
        <thead class="index__head">
          <tr>
            <th class="index__head-text" colspan="3">Overview</th>
            <th class="index__head-text">Lite</th>
            <th class="index__head-text">Pro</th>
            <th class="index__head-text">Ultimate</th>
          </tr>
        </thead>
        <tbody class="index__table-body">
          <tr>
            <td colspan="3">CMS integration</td>
            <td><CheckIcon /></td>
            <td><CheckIcon /></td>
            <td><CheckIcon /></td>
          </tr>
          <tr>
            <td colspan="3">Advanced analytics</td>
            <td></td>
            <td><CheckIcon /></td>
            <td><CheckIcon /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script setup>
import CheckIcon from "@/layout/CheckIcon";
import LightningIcon from "@/layout/LightningIcon";
</script>