<template>
<div class="main">
  <div class="main__content">
    <transition name="fade" mode="out-in">
      <router-view>

      </router-view>
    </transition>
  </div>
</div>
</template>

<script setup>
</script>

<style scoped>
</style>